body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#descrip {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #333;
}

#outer-frame {
  display: flex;
  height: 800px;
  flex-direction: row; /* This makes the inner frame and display div appear side by side */
  margin: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Outer shadow */
  border-radius: 10px;
  padding: 20px;
  background-color: #fff; /* Set a background color to see the shadow effect */
}

#inner-frame {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column; /* This makes the buttons stack vertically */
  width: 200px; /* Adjust width as needed */
  margin-right: 20px; /* Space between buttons and display section */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Inner shadow for the frame */
  border-radius: 5px; /* Optional: adds rounded corners to inner frame */
}

button {
  padding: 12px 15px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #333;
  border: transparent;
  border-radius: 5px;
  width: 100%;
  text-align: left;
}

button:hover {
  background-color: #ddd;
}

#Display {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease;
}

button i {
  margin-right: 10px;
}

.todo-note {
  width: 200px;
  height: 360px;
  margin-top: 20px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea, option, select {
  border-radius: 10px;
  border: 1px black;
}

h4 {
  color: #333;
  margin-bottom: 1px;
}

.add-button {
  height: 40px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.delete-button {
  height: 40px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.add-button:hover, .delete-button:hover {
  background-color: #555;
}

.todo-input {
  margin-bottom: 1px;
}